node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

.expo/
.expo-shared/
dist/
build/
coverage/
.tmp/
temp/

android/.gradle/
android/app/build/
android/build/

ios/build/
ios/Pods/

.vscode/
.idea/
.DS_Store
Thumbs.db
